face_detect_project/etc/

face_recognition_profect/crop_img
face_recognition_profect/etc
face_recognition_profect/full_img
face_recognition_profect/Image

image_comparison_project

seocho
study01
study02

face_detect_project.zip
recognition_face_project.zip