face_detect_project/etc/
face_detect_project/.spyproject

face_recognition_project/.spyproject
face_recognition_project/crop_img
face_recognition_project/etc
face_recognition_project/full_img
face_recognition_project/Image

image_comparison_project

seocho
study01
study02

face_detect_project.zip
recognition_face_project.zip